.dropdown-menu {
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
}

.dropdown-menu li {
    background: #fff;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background: #f1f1f1;
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
    padding: 16px;
}