
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}


html, body, #root, .App {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  outline: 0 !important;
}


a {
  text-decoration: none;
}

html, body {
  font-family: "Bodoni Moda", ui-serif, Georgia, serif;
  font-optical-sizing: auto; 
}

h1, h2, h3, h4, h5, h6, .brand {
  font-family: 'Playfair Display', serif;
  font-weight: 600; /* Spiel mit der Dicke für den genauen Look */
}
p, li { 
  font-weight: 400; 
  line-height: 1.6;
}

